{% extends "layout.html" %}
{% block body %}
<script type="text/javascript">
	 function test(){
      var table = document.getElementById("import_history");
      var resource_json = {{ import_resource|safe }};
      console.log(resource_json)
      for(var i=0; i<resource_json.length; i++){
        var resource_string = JSON.stringify(resource_json[i]);
        var line = document.createElement("tr");
        line.innerHTML += '</td> <td>' + resource_json[i].name + 
                          '</td> <td>' + resource_json[i].brand +
                          '</td> <td>' + resource_json[i].quantity +
                          '</td> <td>' + resource_json[i].expire_date +
                          '</td> <td>' + resource_json[i].storage +
                          '</td> <td>' + resource_json[i].price +
                          '</td> <td>' + resource_json[i].import_date +
                          '</td>'
        table.appendChild(line);
      // <td><input type=submit value=Edit onclick="edit({{ item|safe }})"></td>
      }
    }
    function add_row(){
	    var table = document.getElementById("resource");
	    var rowCount = table.rows.length;
	    var row = table.insertRow(rowCount);
	    var cell1 = row.insertCell(0);
	    cell1.innerHTML="<input type=text size=8 name=name>";
	    var cell2 = row.insertCell(1);
	    cell2.innerHTML="<input type=text size=8 name=brand>";
	    var cell3 = row.insertCell(2);
	    cell3.innerHTML="<input type=text size=6 name=storage>";
	    var cell4 = row.insertCell(3);
	    cell4.innerHTML="<input type=text size=8 name=expire_date>";
	   	var cell5 = row.insertCell(4);
	    cell5.innerHTML="<input type=text size=6 name=quantity>";
	   	var cell6 = row.insertCell(5);
	    cell6.innerHTML="<input type=text size=6 name=resource_price>";
	    var cell7 = row.insertCell(6);
    	cell7.innerHTML="<button onclick=\"deleteRow(this)\">delete</button>";
	}
	 function deleteRow(r){
	    var i=r.parentNode.parentNode.rowIndex
	    document.getElementById('resource').deleteRow(i);
	 }

	 $(document).ready(function(){
		 $('#history_search').click( function() {
		 var select_date = document.getElementById('select_date').value;
		 console.log(select_date);
		 var expected_url = "/import_resource?date=" + select_date
		 window.location.href = expected_url
		});

		 $('#convert-table').click( function() {
		 var table = document.getElementById('resource');
		 table_json = tableToJSON(table);
		 console.log(table_json);
		 $.ajax({
		  type: "POST",
		  contentType: "application/json; charset=utf-8",
		  url: "/import_resource",
		  data: table_json,
		  success: function (data) {
		    console.log(data.title);
		    console.log(data.article);
		  },
		  dataType: "json"
		});
		});
	});

	 function tableToJSON(table) {
	  var row, rows = table.rows;
	  var obj_array = [];
	  for (var i=1, iLen=rows.length; i<iLen; i++) {
	    row = rows[i];
	    var obj = {};
	    for (var j=0; j<6; j++){
	    	obj[row.cells[j].children[0].getAttribute("name")] = row.cells[j].children[0].value;
	    }
	    obj['import_date'] = document.getElementById('import_date').value
	    obj_array.push(obj);
	  }
	  return JSON.stringify(obj_array);
	}

	$( function() {

    	$( "#import_date" ).datepicker();

  	} );

  	$( function() {

    	$( "#select_date" ).datepicker();

  	} );

</script>
{% if session.logged_in %}
   <!--  <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
      <dl>
        <dt>原料名:
        <dd><input type=text size=30 name=name>
        <dt>品牌:
        <dd><input type=text size=30 name=brand>
        <dt>数量:
        <dd><input type=text size=30 name=quantity>
        <dt>有效期:
        <dd>
        <input type="text" size=30 name="expire_date" id="date" />
        <input type="button" id="calendarButton" value="Show Calendar" /> 
        <dt>存放方式:
        <dd><input type=text size=30 name=storage> 
        <dt>总价:
        <dd><input type=text size=30 name=total_price>   
        <dd><input type=submit value=Add>
      </dl>
    </form> -->
    
    <!-- <form action="{{ url_for('import_entry') }}" method=post class=add-entry> -->
    <!-- <div> -->
<!--     <input type="text" size=30 name="import_date" id="import_date" />
        <input type="button" id="calendarButton" value="Show Calendar" /> 
     </div> -->

	<p>查看历史进货时间: <input type="text" name="select_date" id="select_date"><button id="history_search">查询</button></p>

    <table id=import_history>
    <tr>
      <th>原料名</th>
      <th>品牌</th>
      <th>数量</th>
      <th>有效期</th>
      <th>存放方式</th>
      <th>价格</th>
      <th>进货时间</th>
    </tr>

  </table>
     <p>进货时间: <input type="text" name="import_date" id="import_date"></p>
     <div>
    <button onclick="add_row()">添加原料</button>
    </div>
    <table id="resource">
    <thead>
    	<tr>
	      <th>原料名</th>
	      <th>品牌</th>
	      <th>存放</th>
	      <th>有效期</th>
	      <th>数量</th>
	      <th>总价</th>
      </tr>
      </thead>
      <tbody>
	  </tbody>
    </table>
    <button id="convert-table" >提交</button>
    <!-- <input type=submit value=Import> -->
    <!-- </form> -->
    <script type="text/javascript">
    	test()
    </script>
 {% endif %}
{% endblock %}