<!doctype html>
<title>Resource</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='head_style.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='jquery-ui.min.css') }}">
<script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>


<div class=page>
  <h1>Resource Manage System</h1>
  <ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="show_recipe">Recipe</a></li>
    <li><a href="import_resource">Import</a></li>
  </ul>
  <div class=metanav>
  {% if not session.logged_in %}
    <a href="{{ url_for('login') }}">log in</a>
  {% else %}
    <a href="{{ url_for('logout') }}">log out</a>
  {% endif %}
  </div>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
  {% block body %}{% endblock %}
</div>

<!-- <script type="text/javascript">
  (function($) {
  //jQuery stuff
  $('.elem') // $ refers to jQuery
  })(jQuery);
</script> -->