{% extends "layout.html" %}
{% block body %}
<script type="text/javascript">
  function test(x){
    var price = x.options[x.options.selectedIndex].getAttribute('price'); 
    var index = x.parentNode.parentNode.rowIndex;
    var quantity = document.getElementsByName("quantity")[index-1].value;
    var total_price = (parseFloat(price) * parseInt(quantity)).toFixed(2);
    document.getElementsByName("total_price")[index-1].innerHTML = total_price;
  }
  function add_row(){
    var table = document.getElementById("recipe");
    var rowCount = table.rows.length;
    var row = table.insertRow(rowCount);
    var cell1 = row.insertCell(0);
    cell1.innerHTML="<select name = \"resource_list\" onchange=\"test(this)\">{% for item in resource_list %}<option value=\"{{ item.id }}\" price=\"{{ item.price }}\">{{ item.id }} {{ item.brand }} {{ item.name }}</option>{% endfor %}</select>";
    var cell2 = row.insertCell(1);
    cell2.innerHTML="<input type=text size=10 name=\"quantity\">"
    var cell3 = row.insertCell(2);
    cell3.innerHTML="<p name=\"total_price\"></p>"
  }
  </script>
  <button id='add' onclick="add_row()">Add</button>
  <form action="{{ url_for('add_recipe') }}" method=post class=add-entry>
  <h2>甜品：</h2>
  <input type=text size=20 name="dessert">
  <table id="recipe">
  <tr>
    <th>原料</th>
    <th>数量</th>
    <th>总价</th>
  </tr>
  <tr>
    <td>
      <select name = "resource_list" onchange="test(this)">
        {% for item in resource_list %}
          <option value="{{ item.id }}" price="{{ item.price }}">{{ item.id }} {{ item.brand }} {{ item.name }}</option>
        {% endfor %}
      </select>
    </td>
    <td>
      <input type=text size=10 name="quantity">
    </td>
    <td>
      <p name="total_price"></p>
    </td>
  </tr>
  <!-- <input type=submit onclick="test()"> -->
  </table>
  <input type=submit value="submit">
  </form>
 {% for key in recipe_list %}
 <h2>{{ key }}</h2>
  <table id=recipe>
    <tr>
      <th>序号</th>
      <th>原料名</th>
      <th>品牌</th>
      <th>单价</th>
      <th>用量</th>
      <th>合计</th>
    </tr>
  {% for item in recipe_list[key] %}
    <tr>
      <td>{{ item.id }}</td>
      <td>{{ item.name }}</td>
      <td>{{ item.brand }}</td>
      <td>{{ item.price }}</td>
      <td>{{ item.quantity }}</td>
      <td></td>
    </tr>
  {% else %}
    <tr>Unbelievable.  No entries here so far</tr>
  {% endfor %}
  </table>
  {% endfor %}
  <div>
    <h2>总计：</h2>
    <span name="total"></span>
  </div>
  <script type="text/javascript">
    function calculator(){
      var table = document.getElementById("recipe");
      var total_price = 0;
      for(var i=1; i<table.rows.length; i++){
        var price = table.rows[i].cells[3].innerText;
        var quantity = table.rows[i].cells[4].innerText;
        var item_price = parseFloat(price)*parseInt(quantity);
        table.rows[i].cells[5].innerText = item_price;
        total_price = total_price + item_price;
      }
      document.getElementsByName("total")[0].innerText = total_price.toFixed(2);
    }
    calculator()
  </script>
{% endblock %}