{% extends "layout.html" %}
{% block body %}
<script type="text/javascript">
  function test(x){
    var price = x.options[x.options.selectedIndex].getAttribute('price'); 
    var index = x.parentNode.parentNode.rowIndex;
    var quantity = document.getElementsByName("quantity")[index-1].value;
    var total_price = (parseFloat(price) * parseInt(quantity)).toFixed(2);
    document.getElementsByName("total_price")[index-1].innerHTML = total_price;
  }
  function add_row(){
    var table = document.getElementById("recipe");
    var rowCount = table.rows.length;
    var row = table.insertRow(rowCount);
    var cell1 = row.insertCell(0);
    cell1.innerHTML="<select name = \"option_list\" onchange=\"test(this)\">{% for item in option_list %}<option value=\"{{ item.id }}\" price=\"{{ item.price }}\">{{ item.id }} {{ item.brand }} {{ item.name }}</option>{% endfor %}</select>";
    var cell2 = row.insertCell(1);
    cell2.innerHTML="<input type=text size=10 name=\"quantity\">";
    var cell3 = row.insertCell(2);
    cell3.innerHTML="<p name=\"total_price\"></p>";
    var cell4 = row.insertCell(3);
    cell4.innerHTML="<button onclick=\"deleteRow(this)\">delete</button>";
  }
  function deleteRow(r){
    var i=r.parentNode.parentNode.rowIndex
    document.getElementById('recipe').deleteRow(i)
  }
  
  function recipe_list(){
      var recipe_list_div = document.getElementById("recipe_list");
      var recipe_list_json = {{ recipe_list|safe }};
      console.log(recipe_list_json)
      key_list = Object.keys(recipe_list_json)
      for(var i=0; i<key_list.length; i++){
        var recipe_div = document.createElement("div")
        var recipe_string = JSON.stringify(recipe_list_json[key_list[i]]);
        recipe_div.innerHTML += '<h2>'+key_list[i]+'</h2>';
        var table = document.createElement("table");
        table.setAttribute("name", "recipe_list");
        var header_line = document.createElement("tr");
        header_line.innerHTML =       '<tr><th>序号</th>' +
                                      '<th>原料名</th>' +
                                      '<th>品牌</th>'+
                                      '<th>单价</th>'+
                                      '<th>用量</th>'+
                                      '<th>合计</th></tr>';
        table.appendChild(header_line)

        for( var j=0; j<recipe_list_json[key_list[i]].length; j ++){
          var line = document.createElement("tr");
          line.innerHTML += '<td>' + recipe_list_json[key_list[i]][j].id +
                            '</td> <td>' + recipe_list_json[key_list[i]][j].name + 
                            '</td> <td>' + recipe_list_json[key_list[i]][j].brand +
                            '</td> <td>' + recipe_list_json[key_list[i]][j].price +
                            '</td> <td>' + recipe_list_json[key_list[i]][j].quantity +
                            '</td><td></td>';
          //                   "<td><form action=\"{{ url_for('delete_entry') }}\" method=post><input  type=hidden name=id value="+recipe_list_json[key_list[i]][j].id+"><input type=submit value=Delete></form></td>"
          var button_td = document.createElement("td")
          var button = document.createElement("button");
          button.innerHTML = "Edit";
          // var recipe_string = JSON.stringify(recipe_list_json[key_list[i]][j]);
          // button.data = recipe_string;
          console.log('Johnson')
          button.onclick = function(){
              console.log('Johnson test')
              editrecipe(this.data);
          }
          button_td.appendChild(button);
          line.appendChild(button_td)
          table.appendChild(line);
          }
        recipe_div.appendChild(table);
        recipe_div.innerHTML += '<h2>总计：</h2><span name="total"></span>';

        recipe_list_div.appendChild(recipe_div);
        // 
      // <td><input type=submit value=Edit onclick="edit({{ item|safe }})"></td>
      }

    }

  </script>
  <button id='add' onclick="add_row()">Add</button>
  <form action="{{ url_for('add_recipe') }}" method=post class=add-entry>
  <h2>甜品：</h2>
  <input type=text size=20 name="dessert">
  <table id="recipe">
  <tr>
    <th>原料</th>
    <th>数量</th>
    <th>总价</th>
  </tr>
  <tr>
    <td>
      <select name = "option_list" onchange="test(this)">
        {% for item in option_list %}
          <option value="{{ item.id }}" price="{{ item.price }}">{{ item.id }} {{ item.brand }} {{ item.name }}</option>
        {% endfor %}
      </select>
    </td>
    <td>
      <input type=text size=10 name="quantity">
    </td>
    <td>
      <p name="total_price"></p>
    </td>
    <td>
      <button onclick="deleteRow(this)">delete</button>
    </td>
  </tr>
  <!-- <input type=submit onclick="test()"> -->
  </table>
  <input type=submit value="submit">
  </form>
  <div id="recipe_list"></div>

  <div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
      <span class="close">&times;</span>
      <form action="{{ url_for('edit_recipe') }}" method=post class=add-entry>
         <table id='edit_recipe' name=edit_recipe>
          <tr>
            <th>序号</th>
            <th>原料名</th>
            <th>品牌</th>
            <th>单价</th>
            <th>用量</th>
            <th>合计</th>
          </tr>
      </table>
      </form>
    </div>
  </div>
  <script type="text/javascript">
  recipe_list()
    function calculator(){
      var tables = document.getElementsByName("recipe_list");
      for (var j=0; j<tables.length; j++){
        var table = tables[j]
        var total_price = 0;
        for(var i=1; i<table.rows.length; i++){
          var price = table.rows[i].cells[3].innerText;
          var quantity = table.rows[i].cells[4].innerText;
          var item_price = parseFloat(price)*parseInt(quantity);
          table.rows[i].cells[5].innerText = item_price.toFixed(2);
          total_price = total_price + item_price;
        }
        document.getElementsByName("total")[j].innerText = total_price.toFixed(2);
    }
    }
    calculator()
    var modal = document.getElementById('myModal');
    function editrecipe(data){
      console.log(data);
      modal.style.display = "block";
    }
    var span = document.getElementsByClassName("close")[0];
    span.onclick = function() {
      modal.style.display = "none";
    }
  </script>
{% endblock %}